body {
	margin: 0px;
	padding: 0px;
	font-family: calibri;

}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

#main {
	padding: 30px 50px;
	position: relative;
	width: 100%;
	height: 100vh;
	box-sizing: border-box;
	background-size: 1330px;
	background-position: right bottom;
	background-repeat: no-repeat;
	background-image: url("../images/bg.png");
	background-color: #edf1fd;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 2px;
	font-family: calibri;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	box-sizing: border-box;
	padding: 10px 50px;
	background-color: #F4F7FF;
	box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.05);
	z-index: 1;
}


.boton3 {
	display: inline-block;
	padding: 15px 25px;
	font-size: 24px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: black;
	background-color: rgb(255, 255, 255);
	border: none;
	border-radius: 15px;
	box-shadow: 0 5px #999;
	padding-left: 20px;
}

.boton3>a {
	text-decoration: none;

}

.boton3:hover {
	background-color: rgb(58, 58, 58);
	color: #FFF;

}

.boton3>a:hover {

	color: #FFF;

}

.menu {
	display: flex;
}

.menu li a {
	padding: 10px 15px;
	color: #6c707c;
	font-size: 12px;

}

.lang {
	color: #292929;
}

.logo {
	font-size: 25px;
	font-weight: bold;
	color: #292929;
	font-family: Poppins;
}

.toggle {
	display: none;
}

.active a,
.menu li a:hover {
	background-color: #292929;
	color: #FFF !important;
	font-weight: bold;
	transition: all ease 0.4s;
}

.boton {

	display: inline-block;
	padding: 15px 25px;
	font-size: 24px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: black;
	background-color: rgb(255, 255, 255);
	border: none;
	border-radius: 15px;
	box-shadow: 0 5px #999;
}

.boton:hover {
	background-color: rgb(58, 58, 58);
	color: #FFF;
}

.menu2 {
	align-items: center;
	background-color: rgb(221, 221, 221);
	width: 100%;
	height: 600px;
	position: relative;
	left: 0%;
	top: 30%;

}

.texto {
	font-size: large;
	margin-top: 15rem;
	margin-left: 25rem;
	align-items: center;
	text-align: left;

}

.imagen {
	position: relative;
	width: 12rem;
	height: 12rem;

}


.name p:nth-child(1),
.name .details {
	color: #6c707c;
	font-size: 16px;
}

.name h1 {
	font-family: Poppins;
	font-size: 40px;
	margin: 0px;
	letter-spacing: 3px;
	color: #292929;
}




.social {
	position: fixed;
	top: 50%;
	left: 0px;
	transform: translateY(-50%);

}

.social a {

	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	margin: 0px;
	padding: 0px;
	line-height: 0px;
	background-color: #ffffff;
	border: 1px solid #cbcbcb;
	box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}

.social a:hover {
	background-color: #000000;
	transition: all ease 0.5s;
}

.social i {
	font-size: 20px;
	color: #2b2b2b;
}


.about-container {
	width: 50%;
	height: 330px;
	background: #ffffff;
	border-radius: 20px;
	box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
	display: flex;
	margin: -7% auto 20px auto;
	position: relative;
	justify-content: space-evenly;
	align-items: center;
}

.about-container img {
	height: 250px;
}

.about-text {
	width: 500px;
}

.about-text p:nth-child(1) {
	color: #403e3e;
	font-family: myriad pro;
	font-weight: bold;
	font-size: 23px;
	line-height: 0px;
}

.about-text p:nth-child(2) {
	color: #3e3d3d;
	font-size: 13px;
	font-family: myriad pro;
	font-weight: bold;
	line-height: 5px;
}

.about-text p:nth-child(3),
.about-text p:nth-child(4) {
	color: #7e7d7d;
	font-family: calibri;
	font-size: 16px;
}

.text-container {
	position: absolute;
	left: 13%;
	top: 42%;
	transform: translate(-13%, -42%);
}

#services {
	width: 100%;
	height: 80vh;
	box-sizing: border-box;
	font-family: calibri;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 20px;
	border-bottom: 1px solid black;

}

.s-heading h1 {
	color: #FFFFFF;
	font-size: 3rem;
	margin: 0px;
	padding: 0px;

}

.s-heading p {
	color: rgba(255, 255, 255, 0.30);
	font-size: 1rem;
	margin: 0px;
	padding: 0px;
}

.s-heading {
	text-align: center;
	margin: 20px 0px;
}

.s-box {
	background-color: #2B2B2B;
	width: 350px;
	height: 500px;
	margin: 20px;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
	position: relative;
}

.b-container {
	display: flex;
	justify-content: center;
	align-content: center;



}

.s-b-img {
	width: 100%;
	height: 70%;

}

.s-b-img img {
	width: 100%;
	height: 100%;

}

.s-b-text {
	width: 100%;
	height: 30%;
	background-color: #1E1E1E;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.s-b-text a {
	margin: 0px;
	color: #FFFFFF;
	font-size: 1.1rem;
	font-family: calibri;
	display: block;
	display: -webkit-box;
	max-width: 80%;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.s-b-text a:hover {
	color: rgba(255, 255, 255, 0.50)
}

.s-type {
	font-family: calibri;
	color: #FFFFFF;
	background-color: #151515;
	padding: 10px 15px;
	position: absolute;
	top: 0px;
	left: 50%;
	transform: translateX(-50%);
	font-size: 18px;
	border-radius: 0px 0px 10px 10px;
	box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}

.s-box:hover {
	transform: translateY(-10px);
	transition: all ease 0.3s;

}

.pie {

	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 13rem;
	background-color: rgb(221, 221, 221);
	
}

.boton2 {
	width: 100px;
	border-radius: 10px;
	height: 30px;
	cursor: pointer;

}

.boton2:hover {
	background-color: #000000;
	color: white;

}

.menu3 {
	display: none;
}

.social2 {

	font-size: 50px;
	color: #000000;
	padding: 10px 10px;
}

.social2 i {
	color: #000000;
	padding: 10px 10px;
}

.imagens {
	display: block;
	position: absolute;
	width: 300px;
	right: -600px;
	top: -80px;
}

.proyecto {
	display: flex;
	flex-direction: column;
	justify-items: center;
	text-align: center;
	align-items: center;
	padding-top: 100px;
}

.proyecto>h1 {
	padding: 10px 10px;
}
.secret{
	height: 15rem;
}





@media (min-width: 405px) and (max-width: 767px) {


	.b-container {
		align-items: center;
	}

	.botones {
		display: flex;
		flex-direction: column;

	}

	.boton,
	.boton3 {
		padding: 10px 10px;
		font-size: 10px;
		width: 7rem;
	}

	.imagens {
		display: block;
		position: absolute;
		width: 200px;
		right: -100px;
		top: 110px;
	}

	.menu {
		display: none;
	}



	.logo {
		font-size: 10px;
	}

	.menu3>a {
		text-decoration: none;
		display: inline-block;
		padding: 0.8rem 2rem;
		color: #000000;


	}

	.menu3 {
		display: inline;
		position: relative;
		color: #000000;

	}

	.menu3:hover .submenu {
		display: block;


	}

	.submenu {
		border-radius: 10px;
		width: 700px;
		height: 200px;
		display: none;
		position: absolute;
		top: 40px;
		color: #000000;


		z-index: 5;
		opacity: 1;
		transition: opacity 0.5s ease;
		background-color: white;
	}

	.submenu a {
		display: block;
		color: #000000;
		padding: 10px;
	}

	.social {
		display: none;
	}

	.about-container {
		width: 90%;

	}

	.about-container img {
		display: none;
	}

	.about-text {
		padding: 10px;
		width: 500px;
	}

	#services {
		width: 100%;
		height: 175vh;
		box-sizing: border-box;
		font-family: calibri;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding-top: 20px;
		border-bottom: 1px solid black;

	}


	.s-box {
		background-color: #2B2B2B;
		width: 350px;
		height: 500px;
		margin: 20px;
		border-radius: 10px;
		overflow: hidden;
		box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
		position: relative;
	}

	.b-container {
		display: flex;
		justify-content: center;
		align-content: center;
		flex-direction: column;







	}
	.pie {


		height: 15rem;
		
		
	}
}

@media (min-width: 1024px) and (max-width: 1460px) {
	.imagens {
		display: block;
		position: absolute;
		width: 300px;
		right: -300px;
		top: -80px;
	}
}

@media (min-width: 768px) and (max-width: 1024px) {
	.menu {
		display: none;
	}


	.about-container {
		width: 70%;
	}

	.logo {
		font-size: 20px;
	}

	.menu3>a {
		text-decoration: none;
		display: inline-block;
		padding: 0.8rem 2rem;
		color: #000000;


	}

	.menu3 {
		display: inline;
		position: relative;
		color: #000000;

	}

	.menu3:hover .submenu {
		display: block;


	}

	.submenu {
		border-radius: 10px;
		width: 700px;
		height: 200px;
		display: none;
		position: absolute;
		top: 40px;
		color: #000000;


		z-index: 5;
		opacity: 1;
		transition: opacity 0.5s ease;
		background-color: white;
	}

	.submenu a {
		display: block;
		color: #000000;
		padding: 10px;
	}

	.social {
		display: none;
	}

	.s-box {
		background-color: #2B2B2B;
		width: 300px;
		height: 500px;
		margin: 20px;
		border-radius: 10px;
		overflow: hidden;
		box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
		position: relative;
	}

	.about-container img {
		display: none;
	}

	.imagens {
		display: block;
		position: absolute;
		width: 200px;
		right: -240px;
		top: 80px;
	}
	.pie{
		height: 15rem;
	}

}

@media (min-width: 0px) and (max-width: 405px) {
	.b-container {
		align-items: center;
	}

	.botones {
		display: flex;
		flex-direction: column;

	}

	.boton,
	.boton3 {
		padding: 10px 10px;
		font-size: 10px;
		width: 7rem;
	}

	.imagens {
		display: none;
	}

	.menu {
		display: none;
	}




	.logo {
		font-size: 10px;
	}

	.menu3>a {
		text-decoration: none;
		display: inline-block;
		padding: 0.8rem 2rem;
		color: #000000;


	}

	.menu3 {
		display: inline;
		position: relative;
		color: #000000;

	}

	.menu3:hover .submenu {
		display: block;


	}

	.submenu {
		border-radius: 10px;
		width: 700px;
		height: 200px;
		display: none;
		position: absolute;
		top: 40px;
		color: #000000;


		z-index: 5;
		opacity: 1;
		transition: opacity 0.5s ease;
		background-color: white;
	}

	.submenu a {
		display: block;
		color: #000000;
		padding: 10px;
	}

	.social {
		display: none;
	}

	.about-container {
		width: 90%;

	}

	.about-container img {
		display: none;
	}

	.about-text {
		padding: 10px;
		width: 500px;
	}

	#services {
		width: 100%;
		height: 110vh;
		box-sizing: border-box;
		font-family: calibri;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding-top: 0px;
		border-bottom: 1px solid black;

	}


	.s-box {
		background-color: #2B2B2B;
		width: 200px;
		height: 270px;
		margin: 20px;
		border-radius: 10px;
		overflow: hidden;
		box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
		position: relative;
	}

	.b-container {
		display: flex;
		justify-content: center;
		align-content: center;
		flex-direction: column;







	}

	.social2 i {
		color: #000000;
		padding: 5px 5px;
	}

	.pie {
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		height: 15rem;
		background-color: rgb(221, 221, 221);
	}
}

@media (max-height:796px){
	.s-box {
		padding-bottom: 20px;
		background-color: #2B2B2B;
		width: 200px;
		height: 270px;
		margin: 20px;
		border-radius: 10px;
		overflow: hidden;
		box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
		position: relative;
	}
	.secret{
		height: 14rem;
	}
}
@media (max-height:796px){}